/* ISPRAVLENIYA HEAD*/

.main-menu .sub-menu-store {

		left: 784px;
}


.sub-menu-store .pro-sub-menu-store {
		left: -382%;
}

.main-menu .sub-menu-services {
		left: 40px;
}

/* */

.field {
		display: block;
		position: relative;
		background: #0C0C0E no-repeat 50% 50%;
		width: 1200px;
		height: 1200px;
		margin: 20px;
		border-radius: 5px;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
		font-family: Arial, sans-serif;
		font-size: 1.2em;
		line-height: 1.5;
}

.field h1 {
		text-align: center;
		font-style: italic;
}

#logoLeft {
		margin-top: 2%;
		margin-left: 25%;
}

#logoGymnastics {
		margin: 1%;
		padding-top: 5%;
		text-decoration: underline;
}

#logoRight {
		margin-top: 2%;
}

#gymnasticsHeader h1,
#gymnasticsHeader img {
		float: left;
		display: block;
		text-align: center;

}

#menuSections {
		float: left;
		clear: left;
		width: 2%;
		height: 300px;
		margin-left: 1%;
}

#menuSections p {

		width: 250px;
		border: 1px solid white;
		border-top-right-radius: 1em;
		text-align: center;

		background: linear-gradient(45deg, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}

#menuSections ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
}

#menuSections li {

		font-size: 1.5em;
		text-decoration: none;

		width: 250px;
		height: 50px;
		text-align: center;

		background-color: #302C2C;
		border: 1px solid white;
		cursor: pointer;
}

#menuSections li:hover{
		background-color: #565657;
}

/*mainBoxGymnastics*/

#mainBoxGymnastics {
		position: relative;
		float: left;
		margin-top: 1%;
		margin-left: 21%;
		width: 900px;
		height: 84%;
		border: 1px solid white;
		border-radius: 10px;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

#mainBoxHiden {
		position: relative;
}

#littleBlock_first {
		font: left;
		margin: 1%;
		padding: 1%;
		width: 200px;
		height: 300px;
		font-size: 0.7em;
		text-indent: 0.8em;
		/*border: 1px solid white;*/
}

#littleBlock_second {
		float: right;
		/*position: absolute;*/
		margin: 0.5%;
		width: 230px;
		height: 150px;
		font-size: 0.7em;
		text-indent: 0.8em;
		/*border: 1px solid white;*/
}

#littleBlock_third {
		float: right;
		margin: 0.5%;
		width: 230px;
		height: 300px;
		font-size: 0.7em;
		text-indent: 0.8em;
		/*border: 1px solid white;*/
}

#videoOne {
		float: right;
		margin: 1%;
}

#videoTwo {
		float: left;
		margin: 1%;
}

#join_us {
		position: absolute;
		top: 245%;
		left: 2%;
}

.left {
		float: left;
}

.right {
		float: right;
}

#Young,
#Base,
#Handstand,
#Rings {
		display: none;
}

.leftBlock {
		position: absolute;
		left: 0;
		width: 28%;
		height: 640px;
		margin: 10px;
		border: 1px solid white;
}

.sectionText {
		width: 235px;
		height: 480px;
		margin: 4%;
		/*border: 1px solid white;*/
}

.sectionText p {
		margin-top: -1%;
		text-indent: 10px;
		font-size: 0.6em;
}

.sectionText ul {
		margin-top: -10px;
}

.sectionText li {
		padding: 0;
		margin-left: -20px;
		font-size: 0.6em;
}

.rightBlock {
		position: absolute;
		left: 30%;
		width: 68%;
		height: 640px;
		margin: 10px;
		border: 1px solid white;
}

/*  SLIDER */

.slider {
		/* Оболочка слайдера */
		position: relative;
		border: 1px solid white;
		margin-left: 1%;
		width: 600px;
		height: 400px;
		overflow: hidden;

}

.slide {
		/* Слайд */
		width: 100%;
		height: 100%;
}

.sli-links {
		/* Кнопки смены слайдов */
		margin-top: 10px;
		text-align: center;
}

.sli-links .control-slide {
		margin: 2px;
		display: inline-block;
		width: 16px;
		height: 16px;
		overflow: hidden;
		text-indent: -9999px;
		background: url('radioBg.png') center bottom no-repeat;
}

.sli-links .control-slide:hover {
		cursor: pointer;
		background-position: center center;
}

.sli-links .control-slide.active {
		background-position: center top;
}

#prewbutton,
#nextbutton {
		/*  Ссылка "Следующий" и "Педыдущий" */
		display: block;
		width: 15px;
		height: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
		text-indent: -999px;
		background: url(arrowBg.png) left center no-repeat;
		opacity: 0.8;
		z-index: 3;
		outline: none !important;
}

#prewbutton {
		left: 10px;
}

#nextbutton {
		right: 10px;
		background: url(arrowBg.png) right center no-repeat;
}

#prewbutton:hover,
#nextbutton:hover {
		opacity: 1;
}

/*  Slaider stop */

.trainersTopic {
		float: left;
		margin: 0 1%;
		padding: 0;
}

.trainersAvatars {
		/*border: 1px solid white;*/
		clear: both;
		width: 600px;
		height: 150px;
}

.gymnasticsTrainer {
		float: left;
		width: 90px;
		height: 90px;
		background: #416993;
		border-radius: 50%;

		margin-left: 7%;
		border: 3px solid #BBB5B5;
		cursor: pointer;
		overflow: hidden;
}

.name {
		position: absolute;
		bottom: 5%;
		display: inline;
		margin-top: 2%;
		margin-left: -16%;
}

.scheduleBox {
		position: absolute;
		top: 65%;
		left: 33%;
		width: 62%;
		height: 320px;
		margin: 5px;
		border: 1px solid white;
}

.scheduleBox td,
.scheduleBox th {
		border: 1px solid white;
		font-size: 0.63em;
		vertical-align: middle;
		text-align: center;
}

th:first-child {
		width: 60px;
}

#Handstand td,
#Handstand th,
#Rings td,
#Rings th {
		width: 250px;
		font-size: 1.2em;
}



.video {
		position: absolute;
		top: 66%;
		left: -30%;
		width: 560px;
		height: 320px;
		border: 1px solid white;
		cursor: pointer;
}

.video::after {
	border: 30px solid transparent;
	border-left-color: #EEE;
	border-left-width: 50px;
	border-right: none;
	bottom: 0;
	content: '';
	height: 0;
	left: 0;
	margin: auto;
	opacity: 0.75;
	position: absolute;
	transition: all 0.3s;
	right: 0;
	top: 0;
	width: 0;
}

.video:hover::after {
	border-width: 35px;
	border-left-width: 58px;
	opacity: 0.9;
}

.video iframe {
	border: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}