     /* ISPRAVLENIYA HEAD*/
     
     .main-menu .sub-menu-store {
         left: 784px;
     }
     
     .sub-menu-store .pro-sub-menu-store {
         left: -382%;
     }
     
     .main-menu .sub-menu-services {
         left: 40px;
     }
     
     #toolbar {
         margin-top: -1%;
     }
     /* */


 .field {
     display: block;
     position: relative;
     background: #0C0C0E no-repeat 50% 50%;
     width: 1200px;
     height: 1000px;
     margin: 1%;
     border-radius: 5px;
     box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
     font-family: Arial, sans-serif;
     font-size: 1.2em;
     line-height: 1.5;
 }

#titleSwimming{
     text-align: center;
     text-decoration: underline;
     padding-top: 0.5%;
}
#titleSwimming img {
    float: left;
    margin-left: 30%;
    margin-right: 5%; 
}
#titleSwimming h1{
    float: left;
}

#temperatureBox{

     width: 20%;
     height: 5%;
     position: relative;
     float: right;
     margin: 2%;
     text-align: center;
     border: 1px solid white;
}
#temperatureBox p {
     margin: 1%;
     
}


#ambientTemperature {
     position: relative;
     width: 32.33%;
     height: 50%;
     float: left;
     /*border: 1px solid white;*/
     background-color: green;
}


 .bobber {
    /*position: absolute;*/
    margin-left: 20%; 
    text-align: center;
     width: 60%;
     height: 200px;
     background:  url(Images/Swimming/float1111.png) no-repeat 50% 50%;
}



#waterTemperature {
     position: relative;
     height: 100%;
     width: 32.33%;
     float: left;
     margin: 0%; 
     background-color: blue;
}


#changeTemperature{
    
     width: 32.33%;
     float: left;
     /*border: 1px solid white;*/
}

.bigText {
     font-size: 1.1em;
}

#changeTemp {
     font-size: 0.5em;
     margin: 0%;
     padding: 0%;
     border: 0px;
     width: 100%;
 border: 1px solid white;
      cursor: pointer;
}

#poolImg {
     margin: 0.5%;
}




.info_Box{
    float: left; 
    width: 55%;
    height: 30%;
    margin-top: -2%;
    margin-left: 1%;

    /*border: 1px solid white;*/
}

.info_Box p {
    font-size: 0.9em;
    line-height: 1.3em;    
}

.trainingProgram{
     position: absolute;
     left: 58%;
     top: 65%;
     width: 40%;
     font-size: 0.8em;
     /*border: 1px solid white;*/
}

 #easy, #average, #hard{
     margin-top: -2%;
     margin-left: 1%;
     padding: 0%;
     cursor: pointer;
}


#easy_Box,
#average_Box,
#hard_Box

 {
     display: none;
}



.closed::before {
     content: '►';
}

.open::before {
     content: '▼';
}

em .fa .fa-bank{
    color: white;
    font-size: 32px;
}