    .field {

    display: block;
    position: relative;
    background:  #100000 no-repeat  50% 50%;
    width:  1200px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    
     font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}



.ask{
    margin-left: 1%;
    font-size: 2em;
}

.photo {
        float: left;
        position: relative;
        width: 150px;
        height: 200px;
        background-color: #302C2C;
        margin: 10px;
        border: 2px solid #C0C0C0;
        border-radius: 10px;
        background: url("../Images/icons/avatar.png") no-repeat 50% 50%;
        overflow: hidden;     
}

.errorRegistred{
    width: 100%;
    color: red;
    text-align: center;
}

#my_file{
    position: absolute;
    top: 45%;
    left: 12%;
    z-index: -1;
}

.register {
    float: left;   
}  

.register p {
    padding: 0;
    margin: 0;
}


.register input:not([type="radio"]):not([type="checkbox"]){    
    float: right;
     margin-right: 2%;
     border: 2px solid black;
 }

 #moto { 
    position: absolute;
    left: 65%;
    top: 30%;
    width: 200px;
    height: 200px;
    background: url(../Images/moto1.png) no-repeat 100% 50%;
 }