    .field {

    display: block;
    position: relative;
    background:  #100000 no-repeat  50% 50%;
    width:  1200px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    
     font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}



.photo {
        float: left;
        width: 150px;
        height: 200px;
        background-color: white;
        margin: 10px;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;     
}

/* .photo p{
    padding-top: 40%;
    text-align: center;
    color: black;
} */

.register {
    float: left;
    
}  

.register p {
    padding: 0;
    margin: 0;
}

.register input[type="text"], [type="password"] { 
        
       box-sizing: border-box;
       width: 20%;
       padding: 5px;
       border: 2px solid black;

 }

#avatar{
    background: url("Images/Ex2.png") no-repeat ;
}

 #avatar:hover { 
    background: url("Images/Ex.png") no-repeat 50% ;
 }

 #moto { 
    position: absolute;
    left: 75%;
    top: 30%;
    width: 200px;
    height: 200px;
    background: url(Images/moto1.png) no-repeat 100% 50%;
 }